<%- include('../partials/head') %>
    <%- include('../partials/signOutButton') %>
  </nav>
  <section class="section">
    <p class="is-size-5 pb-5">
      Search your Google Photos Library for any unclassified photos (photos that are not in any album).
    </p>
    <a href="/results">
      <button class="button is-primary">Search</button>
    </a>
  </section>
</body>

</html>
