<%- include('../partials/head') %>
    </div>
  </nav>
  <section class="section">
    <% if (error) { %>
      <div class="notification is-danger"><%= error %></div>
    <% } %>
    <p class="is-size-5 pb-5">
      Search your Google Photos Library for any photos that are not in any album.
    </p>
    <p class="is-size-5 pb-5">
      You first need to sign in with Google so that we may view your Google Photos library.
    </p>
    <a href="/oauth">
      <button class="button is-primary">
        <span class="icon-text">
          <span class="icon">
            <i class="fa-brands fa-google"></i>
          </span>
          <span>Sign in with Google</span>
        </span>
      </button>
    </a>
  </section>
</body>

</html>
