<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Unclassified Photos</title>
  <script src="./cookies.js"></script>
  <script>
    const authCode = getCookie("auth_code");
    if (authCode) {
      window.location = "/";
    }
  </script>
</head>

<body>
  <a href="/oauth">
    <button>Sign in with Google</button>
  </a>
</body>

</html>
