<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Unclassified Photos</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="fontawesome/css/fontawesome.min.css">
  <link rel="stylesheet" href="fontawesome/css/brands.min.css">
  <link rel="stylesheet" href="fontawesome/css/solid.min.css">
  <link rel="stylesheet" href="global.css">
  <script defer src="fontawesome/js/solid.min.js"></script>
  <script defer src="fontawesome/js/brands.min.js"></script>
  <script defer src="fontawesome/js/fontawesome.min.js"></script>
</head>

<body>
  <nav class="has-background-primary p-2">
    <a class="is-size-4 has-text-weight-bold has-text-white m-2" href="/">Unclassified Photos</a>
    <div class="is-flex is-align-items-center">
      <a href="https://github.com/fytpet/unclassified-photos" target="_blank">
        <span class="icon is-large">
          <i class="fab fa-github fa-2x"></i>
        </span>
      </a>