<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="description" content="Find Google Photos media items that are not in any album.">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#00d1b2" />
  <title>Unclassified Photos</title>
  <link rel="stylesheet" href="global.css">
</head>

<body>
  <nav class="has-background-primary p-2">
    <a class="is-size-4 has-text-weight-bold has-text-white m-2" href="/">
      Unclassified Photos
    </a>
    <div class="is-flex is-align-items-center">
      <a
        class="is-flex m-2"
        href="https://github.com/fytpet/unclassified-photos"
        target="_blank"
      >
        <img
          class="icon is-medium"
          src="fontawesome/svgs/github.svg"
          alt="Go to GitHub repository"
        />
      </a>