<a href="/sign-out">
  <button class="button is-light ml-5">
    <span class="icon-text">
      <span class="icon">
        <i class="fa-solid fa-right-from-bracket"></i>
      </span>
      <span>Sign out</span>
    </span>
  </button>
</a>