<%- include('../partials/head') %>
      <%- include('../partials/signOut') %>
    </div>
  </nav>
  <main>
    <section class="section">
      <p class="is-size-5 pb-5">
        Search your Google Photos Library for any photos that are not in any album.
      </p>
      <form method="post" action="/">
        <button id="search-button" class="button is-primary" type="submit">
          <span class="icon-text is-align-items-center">
            <img
              class="icon is-size-7"
              src="fontawesome/svgs/search.svg"
              alt=""
            />
            <span>Search</span>
          </span>
        </button>
      </form>
    </section>
  </main>
  <script src="home.js"></script>
</body>

</html>
